@mixin fill-block {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
}

:where(.wp-block-cno-lite-vimeo-cno-plugin-lite-vimeo-block) {
	contain: content;
	display: block;
	position: relative;
	width: 100%;
	aspect-ratio: 16 / 9;

	.lv-frame {
		@include fill-block;

		cursor: pointer;

		&::before {
			--gradient-opacity: 0.15;
			--gradient-color: 0, 0, 0;
			--gradient-inset: 25%;

			@include fill-block;

			content: "";
			display: block;
			background-image: linear-gradient(
				to bottom,
				rgb(var(--gradient-color), var(--gradient-opacity)) 0%,
				rgb(var(--gradient-color), 0) var(--gradient-inset),
				rgb(var(--gradient-color), 0) calc(100% - var(--gradient-inset)),
				rgb(var(--gradient-color), var(--gradient-opacity)) 100%
			);
			transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
			z-index: 1;
		}

		&.lv-custom-thumb::before {
			background-image: none;
		}

		picture {
			@include fill-block;
		}

		.lv-fallback-placeholder,
		.lv-custom-placeholder {
			@include fill-block;

			object-fit: cover;
		}

		.lvo-playbtn {
			width: 70px;
			height: 46px;
			background-color: #212121;
			z-index: 3;
			padding: 0;
			opacity: 0.8;
			border-radius: 10%;
			transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
			border: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;

			&::before {
				content: "";
				border-style: solid;
				border-width: 11px 0 11px 19px;
				border-color: transparent transparent transparent white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}
		}

		&:hover .lvo-playbtn {
			background-color: rgb(98 175 237);
			opacity: 1;
			cursor: pointer;
		}

		.lv-iframe {
			@include fill-block;

			border: none;
			display: none;
		}

		&.lvo-activated {
			cursor: unset;

			&::before,
			.lvo-playbtn,
			picture {
				display: none;
			}

			.lv-iframe {
				display: block;
			}
		}
	}
}
