$gradient-placeholder: url( "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==" );

.wp-block-cno-lite-vimeo-cno-plugin-lite-vimeo-block {
	contain: content;
	display: block;
	position: relative;

	.lv-frame {
		position: absolute;
		height: 100%;
		width: 100%;
		inset-inline-start: 0;
		inset-block-start: 0;
		cursor: pointer;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			background-image: $gradient-placeholder;
			background-position: top;
			height: 60px;
			padding-bottom: 50px;
			width: 100%;
			transition: all 0.2s cubic-bezier( 0, 0, 0.2, 1 );
			z-index: 1;
		}

		&.lv-custom-thumb::before {
			background-image: none;
		}

		picture {
			position: absolute;
			height: 100%;
			width: 100%;
			inset-inline-start: 0;
			inset-block-start: 0;
		}

		.lv-fallback-placeholder,
		.lv-custom-placeholder {
			position: absolute;
			height: 100%;
			width: 100%;
			inset-inline-start: 0;
			inset-block-start: 0;
			object-fit: cover;
		}

		.lvo-playbtn {
			width: 70px;
			height: 46px;
			background-color: #212121;
			z-index: 1;
			opacity: 0.8;
			border-radius: 10%;
			transition: all 0.2s cubic-bezier( 0, 0, 0.2, 1 );
			border: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d( -50%, -50%, 0 );

			&::before {
				content: "";
				border-style: solid;
				border-width: 11px 0 11px 19px;
				border-color: transparent transparent transparent #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d( -50%, -50%, 0 );
			}
		}

		&:hover .lvo-playbtn {
			background-color: rgb( 98 175 237 );
			opacity: 1;
			cursor: pointer;
		}

		.lv-iframe {
			position: absolute;
			height: 100%;
			width: 100%;
			inset-inline-start: 0;
			inset-block-start: 0;
			display: none;
		}

		&.lvo-activated {
			cursor: unset;

			&::before,
			.lvo-playbtn,
			picture {
				display: none;
			}

			.lv-iframe {
				display: block;
			}
		}
	}
}
