name: Release Plugin Zip

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  create-release:
    uses: choctaw-nation/shared-github-actions/.github/workflows/deploy-release.yml@main
    with:
      should_build: true
      plugin_name: cno-plugin-lite-vimeo-block
    secrets: inherit
